@page
@model IndexModel
@{
    var nombre = "John Jairo Orozco D. Ing.";
    ViewData["Title"] = "Proyectos";
}

<div class="text-center">
    <h1 class="display-4">@nombre</h1>
    <h2>Soy un desarrollador full stack</h2>
    <img src="~/img/jorozco.png" alt="Foto de Jhon" />
</div>

<div class="text-center">
    <img src="~/img/logo.gif" width="200px" height="200px" alt="logo MisionTics" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <pre>
            Desarrollador de Software a la medida de su Empresa
            Lenguajes: Python, Java, C#, PHP
            Bases de Datos: MySql, Postgres, SQLserver, Oracle
        </pre>
    </div>
</div>

<div  class="text-center"><center>
   <table class="table-primary"><caption>MIS PRODUCTOS</caption>
      <tr class="table-primary">
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/img/academia.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Software para Colegios</h5>
                    <p class="card-text">El software permite la Adminsitración y Control de Notas en su colegio</p>
                    <a href="#" class="btn btn-primary">Ver detalles</a>
                </div>
                </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/img/inventario.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Software de Inventarios</h5>
                    <p class="card-text">Sistema que permite la Adminstación y Control de Entradas y Salidas de los productos de su Empresa.</p>
                    <a href="#" class="btn btn-primary">Ver Detalles</a>
                </div>
                </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/img/nomina.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sofware de Nominta</h5>
                    <p class="card-text">Pemite Administrar y controlar el pago de sus empleados y prestaciones sociales</p>
                    <a href="#" class="btn btn-primary">Ver Detalle</a>
                </div>
                </div>
        </td>
      </tr>
    </table>
</div>
